# ==============================================================================
# Daffodil DC253D SunplusIT / Chicony FHD Webcam (04f2:b650) Power Shield
# ==============================================================================
# Prevent USB selective autosuspend from putting the internal webcam to sleep,
ACTION=="add|change", SUBSYSTEM=="usb", ATTR{idVendor}=="04f2", ATTR{idProduct}=="b650", ATTR{power/control}="on", ATTR{power/autosuspend}="-1"
ACTION=="add", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="04f2", ATTRS{idProduct}=="b650", RUN+="/usr/bin/v4l2-ctl -d $devnode --set-ctrl=power_line_frequency=1 --set-ctrl=backlight_compensation=8"
